.fullBody {
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(146, 220, 235, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  height: auto;
  color: black;
  /* text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255); */
}
.fullBodyDark {
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 125, 200, 1) 0%,
    rgba(1, 21, 78, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  height: auto;
  color: white;
  /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.column {
  float: left;
  width: 730px;
  padding: 10px;
  /* height: 300px; */
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

textarea {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 500px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  font-family: "Open Sans", sans-serif;
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

.footer {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
